.section-info {
    margin-top: 100px;    
}

.what-is {
    margin-bottom: 50px;
}

.icon-info {    
    margin-top: 50px;
    margin-bottom: 50px;   
    text-align: center 
}

.content-icon {
    background-color: #A5FFE6;    
    padding-top: 30px;
    padding-bottom: 30px;
}

.info-graph {
    margin-top: 80px; 
}

.graph-info {
    margin-bottom: 50px;
}