.logo {
    margin: 10px 0px 0px 0px;    
}

.item-nav {    
    margin: 15px 45px 0px 45px;
}

.navbar-default {
    background-color: transparent;
    border: none;
}

.navbar-default .navbar-nav>li>a { 
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2.33px;
    font-weight: 500;   
    color: #ffffff;     
}

.navbar-default .navbar-nav>li>a:hover {
    color: #337ab7;
}

.white-logo {
    width: 50%;
    margin: -10px -100px 0px 50px;
}

.btn-login {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #ffffff;
    background-color: transparent;
    border: 2px solid #31A7E8;
    width: 100px;
    margin-right: 50px;
    margin-top: 5px;
}

.btn-login:hover {
    color: #31A7E8;
}

.img-ciudad {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;   
    background-position: center center;
    background-size: contain;
    object-fit: cover;    
    z-index: 3;
}

.text-home {
    font-family: 'Montserrat', sans-serif;
    margin-top: 35%;
    text-align: center;
    font-size: 32px;
    position: absolute;
    z-index: 5;
    color: #ffffff;
}

.btn-home {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #ffffff;
    background-color: #31A7E8;
    letter-spacing: 1.16px;
    font-weight: 500;
    padding: 10px 35px;
    border-radius: 1px;
    border: none;
}

.btn-home:hover {
    background-color: #337ab7;
    color: #ffffff;
    border: 1px solid #31A7E8;
}

.btn-test {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

/* Mobile */
@media only screen and (min-width: 1px) and (max-width: 480px) { 
    .text-home {
        margin-top: 120px;
        text-align: center
    }
    .white-logo {
        margin-left: 0px;
    }
    #btn-login-desktop {
        display: none;
    }
    #btn-home-desktop {
        display: none;
    }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1024px) { 
    .logo {
        margin: 10px 15px 0px 0px;    
    }
    .white-logo {
        margin-left: 0px;
    }
    .item-nav {
        margin: 10px 5px 0px 5px;
    }
    #btn-login-desktop {
        display: none;
    }
    .navbar-right {
        position: absolute;
        left: 28%;
    }
    #btn-home-desktop {
        display: none;
    }
}

/* Pantallas normales */  
@media only screen and (min-width: 1025px) and (max-width: 1281px) { }

/* Pantallas grandes */
@media only screen and (min-width: 1282px ){ }