.logo {
    margin: 10px 100px 0px 0px;    
}

.item-nav {    
    margin: 10px 45px 0px 45px;
}

.navbar-default .navbar-nav>li>a { 
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2.33px;
    font-weight: 500;        
}

.navbar-default .navbar-nav>li>a:hover {
    color: #337ab7;
}

.btn-login {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #ffffff;
    background-color: transparent;
    border: 2px solid #31A7E8;
    width: 100px;
}

.btn-login:hover {
    color: #31A7E8;
}

.text-home {
    font-family: 'Montserrat', sans-serif;
    margin-top: 250px;
    text-align: center;
    font-size: 32px;
}

.btn-home {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #ffffff;
    background-color: #31A7E8;
}

.btn-home:hover {
    background-color: #337ab7;
    color: #ffffff;
}

.btn-test {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

/* Mobile */
@media only screen and (min-width: 1px) and (max-width: 480px) { 
    .text-home {
        margin-top: 120px;
        text-align: center
    }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1024px) { 
    .logo {
        margin: 10px 15px 0px 0px;    
    }
    .item-nav {
        margin: 10px 5px 0px 5px;
    }
    .btn-login{
        width: 70px;
    }
}

/* Pantallas normales */  
@media only screen and (min-width: 1025px) and (max-width: 1281px) { }

/* Pantallas grandes */
@media only screen and (min-width: 1282px ){ }